$whites: #FFFFFF;

html {
    min-height: 100%;

    body {
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 0;
        width: 100%;
        min-height: 100%;
        font-size: medium;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif,"微軟正黑體", "Microsoft JhengHei";
        background: $whites;
        color: rgba(50, 50, 50, 0.8);
    }
}

#header {
    display: block;
    background-color: #f5d171;

    .container {
        max-width: 900px;
        width: 100%;
        display: inline-block;
        max-height: 950px;

        > a {
            display: inline-block;
            width: calc(100%/6);
            color: white;
            font-size: 30px;
            padding: 15px 0;
            text-decoration-line: none;
            transition: all .3s;

            &:hover {
                color: black;
            }
        }

        .title-logo {
            float: left;
            width: 50px;
            margin-top: 10px;
            margin-left: 200px;
        }

        .Login_Title {
            float: left;
            font-size: 50px;
            color: white;
        }
    }
}

//點餐頁面
#Order {
    display: inline-block;
    font-size: 50px;
    width: 100%;
    max-width: 1100px;

    .left {
        float: left;
        display: inline-block;
        width: 45%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .right {
        display: inline-block;
        width: 45%;
        margin: 0;
        font-size: 24px;

        .OrderInform {
            display: block;
            text-align: left;

            .TwoInput {
                vertical-align: bottom;

                input[type="text"], input[type="number"] {
                    vertical-align: bottom;
                    display: inline-block;
                    width: 150px;
                    font-size: 22px;
                    height: 24px;
                    margin-top: 0px;
                }
            }
        }

        input[type="submit"] 
        {
            
            color: white;
            text-align: center;
            background-color: #44b7ad;
            border: 2px solid #18534e;
            border-radius: 3px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            width: 125px;
            height: 30px;
            margin: 20px 0px 20px 0px;

            &:hover {
                background-color: #18534e;
                cursor: pointer;
            }
        }
        
        .Table {
            display: inline-block;
            .SetAllOrderBtn {
                margin-top: 10px;
                a {
                    font-weight:bold;
                    color: white;
                    padding: 5px 10px 5px 10px;
                    border: 1px solid black;
                    border-radius:4px;
                    background-color: #f5d171;
                    text-decoration-line: none;
                    &:hover{
                    background-color: #e5c571;
                    }
                }
            }
        }

        .Table, tr, td {
            background-color: white;
            border: 0;
            
            border-collapse: collapse;
        }
    }
}

#LoginForm {
    display: inline-block;
    width: 100%;
    padding: 100px 0 150px 0;

    .container {
        max-width: 250px;
        display: inline-block;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 30px 30px 20px 30px;
        font-size: 24px;
        font-weight: bold;

        .leftText {
            float: left;
            margin-bottom: 15px;
        }

        .account {
            padding: 3px;
            border: 1px solid gray;
            border-radius: 2px;
            height: 24px;
            margin-bottom: 15px;
        }

        .password {
            padding: 3px;
            border: 1px solid gray;
            height: 24px;
        }

        .Login_Btm {
            margin-top: 15px;
            margin-right: 15px;
            padding: 5px;
            float: right;
            font-family: 'Microsoft JhengHei';
            font-weight: bold;
            border: 1px solid #bebebe;
            color: white;
            background-color: #ffdb7a;
            transition: all .3s;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: #e5c571;
            }
        }

        .Register {
            text-decoration: none;
            display: inline-block;
            font-family: 'Microsoft JhengHei';
            font-weight: normal;
            font-size: 15px;
            float: right;
            margin-top: 20px;
            margin-right: 10px;
            color: #bebebe;
            cursor: pointer;

            &:hover {
                color: black;
                text-decoration: underline;
            }
        }
    }
}
