@model Dormitary_Re.Models.OrderAndHistory
@{
    ViewBag.Title = "HistoryPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HistoryPage</h2>

<div id="HistoryData">
    <table class="HistoryTable" cellpadding="10" border="0">

        @foreach (var finishorder in Model.finishorder)
        {
            bool Title = false;
            
            foreach (var order in Model.order.Reverse())
            {
                if (order.finishedorders == finishorder.Id)
                {
                    if (!Title)
                    {
                        <thead>
                            <tr class="TitleInform">
                                <td> 
                                    收單時間：@Html.DisplayFor(m => finishorder.finishtime)
                                </td>
                                <td>
                                    收單者：@Html.DisplayFor(m => finishorder.whoFinished)
                                </td>
                                <td>
                                    總價：@Html.DisplayFor(m => finishorder.finalPrice)
                                </td>
                            </tr>
                            <tr class="Title">
                                <td>Name</td>
                                <td>Product</td>
                                <td>Money</td>
                            </tr>
                        </thead>
                        Title = true;
                    }
                    <tbody>
                        <tr class="Products">
                            <td>
                                @Html.DisplayFor(m => order.orderaccount)
                            </td>
                            <td>
                                @Html.DisplayFor(m => order.product)
                            </td>
                            <td>
                                @Html.DisplayFor(m => order.price)
                            </td>
                        </tr>
                    </tbody>
                }
            }
        }
    </table>
</div>