
@{
    ViewBag.Title = "Index";
}

<div class="container">
        <div id="MyLogo"><img src="~/imgs/220Dormitary-04.png" /></div>

        <h1 class="col-md-1 col-md-offset-4">Welcome</h1>

</div>


