
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row ">
        <ul class="well col-md-3">
        </ul>
        <div class="col-md-3"><img src="~/imgs/220Dormitary-04.png" /></div>
    </div>

    <div class="row">
        <h1 class="col-md-1 col-md-offset-4">Welcome</h1>
    </div>

</div>


